<div 
  class="svg-map-wrap"
  *ngIf="regionData; else loader"
>
<svg  xmlns:mapsvg="http://mapsvg.com" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" mapsvg:geoViewBox="22.138577 52.380834 40.220623 44.387017" preserveAspectRatio="xMidYMid meet" viewBox="0 0 612.47321 408.0199" style="transform: scale(1);">
  
    <svg:path 
      *ngFor="let region of regionsListForSvgMap" 
      (mousemove)="showRegionName($event)" 
      (mouseleave)="hideTooltip()" 
      (click)="selectRegionOnMap($event, $event.target)"
      [attr.d]="region.path" 
      [attr.id]="region.id" 
      [attr._id]="region._id" 
      class=" mapsvg-region"
      [ngClass]="{'disabled': !region.status}"
    >
    </path>

  </svg>
</div>

  
<div class="tooltip">
  <span 
    #fuuuu
    class="tooltip-text"
  >
    {{region.name}}
  </span>  
</div>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>


<ng-template #empty>
  <div class="center">
    <p>Дані відсутні</p>
  </div>
</ng-template>
