@import "~materialize-css/dist/css/materialize.min.css";
@import "./app/styles_theme/style_materialize.css";

body {
 background: url(./assets/what-the-hex.png);
}

.svg-map-wrap{
  padding: 1rem;
}

/* main.content{
  min-height: calc(100vh-50px);
  display: flex;
  justify-content: center;
  align-items: center;
} */

