.card-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
    flex-wrap: wrap;
}

.btn_cust{
    margin: 4px;
}

.row {
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
    .card-action{
        height: auto;
    }
  }
  