<div class="page-title">
    <h5>Інформація щодо запису в електронній черзі</h5>
    <button
      class="waves-effect waves-light light-blue darken-4 btn z-depth-3"
      routerLink="/order"
    >
    До реєстрації
    </button>
  </div>
  
  <div 
    class="row"
    *ngIf="order$ | async as order; else loader"
    >
    <div class="col s12">
        <ul class="collection with-header">
            <li class="collection-header valign-wrapper">
              
              <h5><i class="material-icons ">subtitles</i>Дані про візит</h5>
            </li>

            <li class="collection-item">
              <span class="lefted">Код ЄДРПОУ:</span>
              <strong>{{order.customer_id_code}}</strong>
            </li>
            <li class="collection-item">
              <span class="lefted">Найменування клієнта:</span>
              <strong>{{order.customer_name}}</strong>
            </li>
            <div 
              class="vpr"
              *ngIf="vpr$ | async as vpr; else loader"
            >
              <li class="collection-item">
                <span class="lefted">Назва пункту реєстрації:</span>
                <strong>{{vpr.name}}</strong>
              </li>
              <li class="collection-item">
                <span class="lefted">Адреса пункту реєстрації:</span>
                <strong>{{vpr.address}}</strong>
              </li>
            </div>
            <li class="collection-item">
              <span class="lefted">Дата візиту:</span>
              <strong>{{order.date | date: 'dd.MM.yyyy'}}</strong>
            </li>
            <li class="collection-item">
              <span class="lefted">Час візиту:</span>
              <strong>{{order.time_period_number | timePeriod}}</strong>
            </li>
            <!-- <strong>{{order}}</strong> -->

        </ul>
                 
        
        
        
        
    </div>
  </div>
  
  
  
  
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
  
  
  