<nav>
  <div class="nav-wrapper light-blue lighten-1">
    <a routerLink="/" class="brand-logo">КНЕДП АЦСК ІДД</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active">
        <!-- <i class="material-icons medium">add</i> -->
        <a routerLink="/order/client">Перевірка запису в черзі</a>
      </li>
      <li 
        routerLinkActive="active"
      >
        <a>Корисна інформація</a>
      </li>
      <li>
        <a (click)=showDocumentsList()>Перелік документів</a>
      </li>
    </ul>
  </div>
</nav>


<div class="fixed-action-btn direction-top" style="bottom: 40px; right: 24px;">
  <a id="menu" class="btn btn-floating btn-large blue darken-2" >
    <i class="material-icons">menu</i>
  </a>
</div>



<main class="content">
  <div class="row">
    <div class="content col s12 m10 l8 xl8 offset-m1 offset-l2 offset-xl2">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<div #modal class="modal">
  <app-documents-list-page
    *ngIf="modalVisible"
  ></app-documents-list-page>
</div>


