<nav>
  <div class="nav-wrapper light-blue lighten-1">
    <a routerLink="/" class="brand-logo">КНЕДП АЦСК ІДД</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active">
        <a routerLink="/login">Перевірка стану запису в черзі</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/register">Корисна інформація</a>
      </li>
      <li>
        <a (click)=showDocumentsList()>Перелік документів</a>
        
      </li>
    </ul>
  </div>
</nav>


<main class="content">
  <div class="row">
    <div class="content col s12 m8 l8 xl8 offset-m2 offset-l2 offset-xl2">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<div #modal class="modal">
  <app-documents-list-page
    *ngIf="modalVisible"
  ></app-documents-list-page>
</div>


