<div class="page-title">
  <h4>Адміністратори</h4>
</div>

<div 
  *ngIf="users$ | async as users; else loader"
  >
  <div class="collection" *ngIf="users.length !== 0; else empty">
    <a 
      class="collection-item blue-text text-darken-2"
      *ngFor="let user of users"  
      [routerLink]="['/administrators', user._id]"
    >
      {{user.email}}
      {{user.role}}
      <span
        *ngIf="!user.status"
        class="disabled"
      >disabled</span>
    </a>
  </div>
</div>

<!-- (click)="onSelectRegion(region, $event)" -->



<ng-template #loader>
  <app-loader></app-loader>
</ng-template>


<ng-template #empty>
  <div class="center">
    <p>Дані відсутні</p>
  </div>
</ng-template>

<!-- <div class="modal" #modal>
  <app-regions-form [outputRegion]="outputRegion"></app-regions-form>
</div> -->


