<ul #sidenav id="slide-out" class="sidenav sidenav-fixed">


  <li><div class="user-view">
    <div class="background">
      <img src="./assets/istockphoto-683301200-170667a.jpg">
    </div>
    <h4 class="white-text">КНЕДП АЦСК ІДД <br> Адміністрування</h4>
    <!-- <a href="#user"><img class="circle" src="images/yuna.jpg"></a> -->
    <!-- <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a> -->
  </div></li>
  <li
    class="bold"
    routerLinkActive="active"  
  >
    <a
      [routerLink]="'/dashboard'"
    ><i class="material-icons">cloud</i>Огляд журналу клієнтів</a>
  </li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Блок функцій суперадміністратора</a></li>
  <li 
    class="bold" 
    *ngFor="let link of links"
    routerLinkActive="active"
  >
    <a 
      *ngIf="role"
      [routerLink]="[link.url]"
      class="waves-effect waves-blue"
    >
      {{link.name}}
    </a>
  </li>


  <li class="bold last"><a href="#" class="waves-effect waves-orange" (click)="logout($event)">Вийти із системи</a></li>

</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>



<main class="content">
  <div class="row">
    <div class="content col s12 m10 l7 xl7 offset-m1 offset-l3 offset-xl3">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
