.hidden{
  display: none;
}

select{
  display: block;
}

.modal {
  max-height: 85%;
}

option{
  min-height: 2.2em
}

.personal-data{
  font-size: 0.8rem;
}

.personal-data a{
  cursor: pointer;
}

:host>.card{
  margin-top: 1.5rem;
}

form.card {
  margin-top: 1.5rem;
  background-color: rgba(0,0,0, .05);
}

span.card-title{
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px !important;
}

.card-panel{
  font-weight: 100;
  font-size: 1.1rem;
  position: relative;
}

.card-content{
  background-color: rgba(262, 262, 262, 0.7);
}

.input-field{
  cursor: pointer;
}

.help-button{
  position: absolute;
  top: 4px;
  right: 5px;
}

.help-button i{
  font-size: 1.4rem;
}

.tap-target p{
  font-size: 0.8rem;
}

.material-icons.tiny {
  opacity: .7;
}

