<div class="card">
  <div class="card-content z-depth-2">
    <span class="card-title">Реєстрація в електронній черзі</span>
  </div>
</div>


<div class="card svg-map hide-on-small-only">
  <app-region-map
    (onSelectRegionFromMap) = "onSelectRegionFromMap($event)"
  ></app-region-map
    >
</div>

<div class="row">
  <div class="col s12 m6 offset-m3">

  <form 
    class="card"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="card-content">
      <div 
        class="input-field"
        #regionRef
        >
        <p
          class="card-panel hoverable center-align"
          [ngClass]="{hidden: !regionRefVisible}"
          (click)=(onSelectRegion())
        >
          Обрати область
        </p>
        <div *ngIf="!regionLoading; else loader">
          <label [ngClass]="{hidden: regionRefVisible}">Оберіть область зі списку</label>
          <select 
            [ngClass]="{hidden: regionRefVisible}"
            formControlName="region"
          >
            <option 
              *ngFor="let region of regions"
              [value]="region._id"
            >
              {{region.name}}
            </option>
          </select>
        </div>
        <div 
          (click)="openHelperText($event)"
          class="help-button"
        >
          <i 
            data-title="Вибір області"  
            data-text="Оберіть область в якій знаходиться пункт, до якого ви хочете з'явитися. Якщо потрібної області немає в списку значить в даний момент там нема пунктів які обслуговують клієнтів"  
            class="material-icons tiny"
          >info</i>
        </div>
      </div>
        
      <div class="input-field">
        <p
          class="card-panel hoverable center-align"
          [ngClass]="{hidden: !vprRefVisible}"
          (click)=(onSelectVpr())
        >
          Обрати доступний пункт реєстрації
        </p>
        <div *ngIf="!vprLoading; else loader">
          <label [ngClass]="{hidden: vprRefVisible}">Оберіть ВПР зі списку</label>
          <select 
            [ngClass]="{hidden: vprRefVisible}"
            formControlName="vpr"
            *ngIf="vprs.length !== 0 || vprRefVisible === true; else empty"
  
          >
            <option 
              *ngFor="let vpr of vprs"
              [value]="vpr._id"
              #vprCity
            >
            {{vpr.name}}
            </option>
          </select>
        </div>
        <div 
          (click)="openHelperText($event)"
          class="help-button"
        >
          <i 
            data-title="Вибір пункту реєстрації"  
            data-text="Оберіть пункт в який вам зручніше всього завітати. Якщо потрібного пункту реєстрації немає в списку це означає що з певних причин він не працюватиме довгий період часу"  
            class="material-icons tiny"
          >info</i>
        </div>
      </div>
        
            <div 
              class="clientInfo"
              [ngClass]="{hidden: clientInfoRefVisible}"
            >
              <div class="input-field">
                <input 
                  id="name"
                  type="text"
                  formControlName="name"
                  [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
                >
                <label for="name">Назва установи чи ПІБ ФОП:</label>
                <span 
                  class="helper-text red-text"
                  *ngIf="form.get('name').invalid && form.get('name').touched"  
                >
                  <span *ngIf="form.get('name').errors['required']">Поле name не може бути порожнім</span>
                </span>
              </div>

              <div class="input-field">
                <input 
                  ng-model
                  id="customer_id_code"
                  type="text"
                  formControlName="customer_id_code"
                  maxlength="10"
                  minlength="8"
                  [ngClass]="{'invalid': form.get('customer_id_code').invalid && form.get('customer_id_code').touched}"
                >
                <label for="customer_id_code">Код ЄДРПОУ або РКНОКПП:</label>
                <span 
                  class="helper-text red-text"
                  *ngIf="form.get('customer_id_code').invalid && form.get('customer_id_code').touched"  
                >
                  <span *ngIf="form.get('customer_id_code').errors['pattern']">Поле повинно містити тільки цифри</span>
                  <span *ngIf="form.get('customer_id_code').errors['required']">Поле customer_id_code не може бути порожнім</span>
                  <span *ngIf="form.get('customer_id_code').errors['minlength']">Поле customer_id_code повинно містити від 8 до 10 цифр</span>
                </span>
              </div>
            </div>
        
            <re-captcha (resolved)="resolved($event)" siteKey="6LePG9EUAAAAAI1etO6bfExjQdPcORcRiX98x0At"></re-captcha>`
        
            <div
              class="card-panel hoverable center-align"
              [ngClass]="{'hide': dateRefVisible}"
              (click)=(onSelectDate())
            >
              Обрати дату візиту
              <div 
                (click)="openHelperText($event)"
                class="help-button"
              >
                <i 
                  data-title="Вибір дати візиту"  
                  data-text="В календарі показано доступні для візиту дні. Якщо немає дат, які можна обрати це значить що на 30 днів від сьогодні всі записи зайняті. Якщо в пункті працює більше одного працівника ви можете з'явитися не записуючись в чергу. В такому випадку вам, можливо прийдеться зачекати."  
                  class="material-icons tiny"
                >info</i>
              </div>
            </div>
        
            <div 
              class="input-field" 
              [ngClass]="{'hide': !dateRefVisible}"
            >
              <input
                #datepicker
                class="datepicker" 
                id="date"
                type="text"
                formControlName="date"
                [ngClass]="{'invalid': form.get('date').invalid && form.get('date').touched}"
              >
              <label for="date">Дата</label>
              <span 
                class="helper-text red-text"
                *ngIf="form.get('date').invalid && form.get('date').touched"  
              >
                <span *ngIf="form.get('date').errors['required']">Поле date не може бути порожнім</span>
              </span>

            </div>
            
            <div 
            class="input-field">
              <div
                class="card-panel hoverable center-align"
                [ngClass]="{'hide': orderTimeRefVisible}"
                (click)=(onSelectTime())
              >
                Обрати час візиту
                <div 
                  (click)="openHelperText($event)"
                  class="help-button"
                >
                  <i 
                    data-title="Вибір часу візиту"  
                    data-text="В даному блоці показані доступні періоди часу доступні для запису. Оберіть зручніший для вас"  
                    class="material-icons tiny"
                  >info</i>
                </div>
              </div>
        
              <div 
                class="input-field" 
              >
                <div #modal class="modal">
                  <div 
                    class="modal-content"
                    *ngIf="modalInstanse"
                    >
                    <app-time-select-page
                      [vprId]="vprId"
                      [vpr]="vprCity"
                      [date]="form.controls.date.value" 
                      (onSelectTimePeriod)="onSelectTimePer($event)"
                    >
                    </app-time-select-page>
                    </div>
                </div>
        
                <input
                  (click)=(onSelectTime())
                  type="text"
                  formControlName="time"
                  [ngClass]="{'invalid': form.get('date').invalid && form.get('date').touched, 'hide': !orderTimeRefVisible}"
                >
                <label 
                  for="date"
                  [ngClass]="{'hide': !orderTimeRefVisible}"
                >Час відвідування</label>
                
              </div>
            </div>
        
          <div 
            *ngIf="!form.invalid || form.disabled"
            class="card-action personal-data"
          >
            <p class="blue-text text-accent-1">Натискаючи кнопку "Зареєструватися" ви надаєте згоду на збір, обробку та використання персональних даних.</p>
            <a 
              (click)="showModal()"
              class="blue-text text-accent-3"
            >Згода-повідомлення суб'єкта персональних даних на обробку та передачу його персональних даних</a>
          </div>
        
          <div #modalPersonalData class="modal">
            <div 
              class="modal-content"
              >
              <h5>Згода-повідомлення суб'єкта персональних даних на обробку та передачу його персональних даних</h5>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates aliquid sunt possimus? Quo commodi repellat consequuntur dolorem error facilis eius perspiciatis sint voluptatum! Quae magni qui vel? Aliquam, neque molestias?</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates aliquid sunt possimus? Quo commodi repellat consequuntur dolorem error facilis eius perspiciatis sint voluptatum! Quae magni qui vel? Aliquam, neque molestias?</p>
              </div>
          </div>
        
          <div class="card-action center-align">
            <button 
              type="submit"
              [disabled]="form.invalid || form.disabled"
              class="modal-action btn light-blue darken-4 waves-effect"
            >Зареєструватися</button>
          </div>
          </div>



    </form>
  </div>
</div>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>


<ng-template #empty> 
  <div class="center">
    <p>Дані відсутні</p>
  </div>
</ng-template>

<div 
  #tapTarget
  class="tap-target blue"
  data-target="menu"
>
  <div class="tap-target-content">
    <h6 class="right-align">{{helperTextMarkup.title}}</h6>
    <p class="right-align">{{helperTextMarkup.text}}</p>
  </div>
</div>