.hidden{
  display: none;
}

select{
  display: block;
}

.modal {
  max-height: 85%;
}

option{
  min-height: 2.2em
}

.personal-data{
  font-size: 0.8rem;
}

.personal-data a{
  cursor: pointer;
}


