<div 
class="modal-content"
>
<div class="col s12 m9">
    <div class="col s12 m9">
        <ul #collapsible class="collapsible popout">
          <li>
            <div class="collapsible-header" tabindex="0">
              <i class="material-icons">filter_drama</i>ФІЗИЧНА ОСОБА</div>
            <div class="collapsible-body" style="display: block;">
              <div>
                Документи, необхідні для отримання ЕДП фізичною особою:
                заповнена та підписана “Реєстраційна картка для фізичної особи” встановленого зразка, у двох примірниках;
                
                оригінал та засвідчена копія* паспорта громадянина України (копії 1-2 сторінок (3-6 за наявності відміток та сторінки з відміткою про реєстрацію місця проживання), або копія з обох сторін безконтактного електронного носія (у випадку наявності паспорта громадянина України виготовленого у формі ID-картки та паперового витягу з Єдиного державного демографічного реєстру про адресу реєстрації місця проживання, або Довідки про реєстрацію місця проживання фізичної особи), або паспорта громадянина України для виїзду за кордон з відміткою про постійне місце проживання в іноземній державі;
                
                оригінал та засвідчена копія* посвідчення біженця з відміткою про реєстрацію місця проживання, або посвідки на постійне (тимчасове) місце проживання з відміткою про реєстрацію місця проживання, або копія, з обох сторін, безконтактного електронного носія (у випадку наявності посвідки на постійне (тимчасове) місце проживання виготовленої у формі ID-картки та паперового витягу з Єдиного державного демографічного реєстру про адресу реєстрації місця проживання, або Довідки про реєстрацію місця проживання фізичної особи), або паспорта громадянина іншої країни з відміткою про реєстрацію місця проживання із нотаріально засвідченим перекладом на українську мову;
                
                оригінал та засвідчена копія* документа про зміну прізвища заявника, виданого відповідним державним органом (якщо в поданих документах є невідповідність прізвища);
                
                оригінал та засвідчена копія* довідки про взяття на облік внутрішньо-переміщеної особи (для громадян, які відносяться до даної категорії осіб);
                
                засвідчена копія* реєстраційного номеру облікової картки платника податків (ідентифікаційного номера). За наявності у паспорті громадянина України реєстраційного номера облікової картки платника податків, замість копії картки платника податків, може бути подана копія сторінки паспорта громадянина України з відповідною відміткою. Якщо через релігійні переконання фізична особа відмовилась від реєстраційного номеру облікової картки платника податків, додатково подається копія сторінки паспорту з відміткою про таку відмову.
                
                </div>
                <a href="https://acskidd.gov.ua/download/regdocs/fiz_osob/fiz_osoba.zip">Завантажити комплект документів одним файлом</a>
              </div>
          </li>
          <li>
            <div class="collapsible-header" tabindex="0">
              <i class="material-icons">place</i>ЮРИДИЧНА ОСОБА</div>
            <div class="collapsible-body">
              <span>
                Документи, необхідні для отримання ЕДП юридичною особою:
                заповнена та підписана Реєстраційна картка для юридичної особи встановленого зразка, у двох примірниках;
                
                додаток до Реєстраційної картки (в разі одночасного отримання ЕДП для більш ніж однієї особи), у двох примірниках;
                
                оригінал статуту юридичної особи (засновницького договору, рішення про створення юридичної особи, яка діє на підставі модельного статуту) або його нотаріально засвідчена копія (надається виключно для ознайомлення) (крім тих хто зареєструвався або вніс зміни в установчі документи починаючи з 01.01.2016 та мають електронний примірник документів, який розміщено у Єдиному державному реєстрі юридичних осіб, фізичних осіб-підприємців та громадських формувань);
                
                засвідчені копії** документів, що підтверджують належність заявника (окрім керівника) до юридичної особи та його повноваження (наказ/витяг з наказу про призначення на посаду, або трудовий договір);
                
                оригінал та засвідчена копія* дозволу на застосування праці іноземців та осіб без громадянства або службової картки (за наявності таких осіб);
                
                оригінал та засвідчена копія* паспорта громадянина України (копії 1-2 сторінок (3-6 за наявності відміток), або копія з обох сторін безконтактного електронного носія (у випадку наявності паспорта громадянина України виготовленого у формі ID-картки), або паспорта громадянина України для виїзду за кордон з відміткою про постійне місце проживання в іноземній державі;
                
                оригінал та засвідчена копія* посвідчення біженця, або посвідки на постійне (тимчасове) місце проживання, або копія, з обох сторін, безконтактного електронного носія (у випадку наявності посвідки на постійне (тимчасове) місце проживання виготовленої у формі ID-картки), або паспорта громадянина іншої країни із нотаріально засвідченим перекладом на українську мову;
                
                оригінал та засвідчена копія* документа про зміну прізвища заявника, виданого відповідним державним органом (якщо в поданих документах є невідповідність прізвища);
                
                засвідчена копія* реєстраційного номеру облікової картки платника податків (ідентифікаційного номера). За наявності у паспорті громадянина України реєстраційного номера облікової картки платника податків, замість копії картки платника податків, може бути подана копія сторінки паспорта громадянина України з відповідною відміткою. Якщо через релігійні переконання фізична особа відмовилась від реєстраційного номеру облікової картки платника податків, додатково подається копія сторінки паспорту з відміткою про таку відмову.

                <a href="https://acskidd.gov.ua/download/regdocs/ur_osoba/ur_osob.zip">Завантажити комплект документів одним файлом</a>
              </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header" tabindex="0">
              <i class="material-icons">whatshot</i>ОРГАНИ ДЕРЖАВНОЇ ВЛАДИ, ОРГАНИ МІСЦЕВОГО САМОВРЯДУВАННЯ, ПІДПРИЄМСТВА, УСТАНОВИ ТА ОРГАНІЗАЦІЇ ДЕРЖАВНОЇ ФОРМИ ВЛАСНОСТІ</div>
            <div class="collapsible-body">
              <span>
                
                Документи, необхідні для отримання ЕДП:


                заповнена та підписана Реєстраційна картка для юридичної особи встановленого зразка, у двох примірниках;

                додаток до Реєстраційної картки (в разі одночасного отримання ЕДП для більш ніж однієї особи), у двох примірниках;

                оригінал статуту юридичної особи (положення) або його нотаріально засвідчена копія (надається виключно для ознайомлення) (крім тих хто зареєструвався або вніс зміни в установчі документи починаючи з 01.01.2016 та мають електронний примірник документів, який розміщено у Єдиному державному реєстрі юридичних осіб, фізичних осіб-підприємців та громадських формувань);

                копія рішення керівника установи про визначення відповідальної особи/підрозділу в установі (надається у разі звернення відповідальної особи для формування технологічних сертифікатів, скасування, блокування або поновлення сертифікатів);

                оригінал та засвідчена копія* дозволу на застосування праці іноземців та осіб без громадянства або службової картки (за наявності таких осіб);

                оригінал та засвідчена копія* паспорта громадянина України (копії 1-2 сторінок (3-6 за наявності відміток), або копія з обох сторін безконтактного електронного носія (у випадку наявності паспорта громадянина України виготовленого у формі ID-картки), або паспорта громадянина України для виїзду за кордон з відміткою про постійне місце проживання в іноземній державі;

                оригінал та засвідчена копія* посвідчення біженця, або посвідки на постійне (тимчасове) місце проживання, або копія, з обох сторін, безконтактного електронного носія (у випадку наявності посвідки на постійне (тимчасове) місце проживання виготовленої у формі ID-картки), або паспорта громадянина іншої країни із нотаріально засвідченим перекладом на українську мову;

                оригінал та засвідчена копія* документа про зміну прізвища заявника, виданого відповідним державним органом (якщо в поданих документах є невідповідність прізвища);

                засвідчена копія* реєстраційного номеру облікової картки платника податків (ідентифікаційного номера). За наявності у паспорті громадянина України реєстраційного номера облікової картки платника податків, замість копії картки платника податків, може бути подана копія сторінки паспорта громадянина України з відповідною відміткою. Якщо через релігійні переконання фізична особа відмовилась від реєстраційного номеру облікової картки платника податків, додатково подається копія сторінки паспорту з відміткою про таку відмову.

                <a href="https://acskidd.gov.ua/download/regdocs/government_card/government_card.zip">Завантажити комплект документів одним файлом</a>

              </span>
            </div>
          </li>
          <li>
            <div class="collapsible-header" tabindex="0">
              <i class="material-icons">whatshot</i>Загальна інформація</div>
            <div class="collapsible-body">
              <span>ВАЖЛИВА ІНФОРМАЦІЯ

                1. Строк чинності кваліфікованих сертифікатів відкритих ключів становить не більше 2 (двох) років з моменту їх формування.
                
                2. Відповідно до положень Регламенту Кваліфікованого надавача ЕДП ІДД ДПС кваліфіковані сертифікати відкритих ключів надаються виключно в електронному вигляді шляхом їх розміщення на офіційному інформаційному ресурсі Кваліфікованого надавача ЕДП ІДД ДПС (http://acskidd.gov.ua).
                
                3. У зв’язку з тим, що в межах електронних довірчих послуг не передбачено надання послуг з копіювання, друку та заповнення реєстраційних карток, бланків та інших документів, продаж або безоплатне надання носіїв ключової інформації, генерація особистих ключів виконується на носії користувача (з'ємні флеш-носії, оптичні носії CD/DVD, захищені носії ключової інформації тощо).
                
                Слід зауважити, що кожен особистий ключ користувача повинен бути записаний на окремий носій інформації.
                
                4. У разі отримання електронних довірчих послуг, до закінчення строку чинності кваліфікованих сертифікатів відкритих ключів, слід скасувати діючі кваліфіковані сертифікати відкритих ключів. Докладніше 
                
                
                5. Програмне забезпечення для роботи з кваліфікованим електронним підписом ви можете завантажити   ТУТ 
                
                6. Ідентифікація особи, яка звернулася до Кваліфікованого надавача ЕДП ІДД ДПС, здійснюється за паспортом громадянина України, а за його відсутності паспортом громадянина іншої країни із нотаріально засвідченим перекладом на українську мову, посвідкою на тимчасове/постійне проживання, посвідченням біженця або паспортом громадянина України для виїзду за кордон з відміткою про постійне місце проживання в іноземній державі.
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>