<div 
class="modal-content"
>
<div class="col s12 m9">
    <div class="col s12 m9">
        <ul #collapsible class="collapsible popout">
          <li class="active">
            <div class="collapsible-header" tabindex="0">
              <i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body" style="display: block;">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</span>
            </div>
          </li>
          <li>
            <div class="collapsible-header" tabindex="0">
              <i class="material-icons">place</i>Second</div>
            <div class="collapsible-body">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</span>
            </div>
          </li>
          <li>
            <div class="collapsible-header" tabindex="0">
              <i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>