<form 
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-action">
    <div class="input-field">
      <input 
        ng-model
        id="customer_id_code"
        type="text"
        formControlName="customer_id_code"
        maxlength="10"
        minlength="8"
        [ngClass]="{'invalid': form.get('customer_id_code').invalid && form.get('customer_id_code').touched}"
      >
      <label for="customer_id_code">Код ЄДРПОУ або РКНОКПП:</label>
      <span 
        class="helper-text red-text"
        *ngIf="form.get('customer_id_code').invalid && form.get('customer_id_code').touched"  
      >
        <span *ngIf="form.get('customer_id_code').errors['required']">Поле customer_id_code не може бути порожнім</span>
        <span *ngIf="form.get('customer_id_code').errors['minlength']">Поле customer_id_code повинно містити від 8 до 10 цифр</span>
      </span>
    </div>
    <re-captcha (resolved)="resolved($event)" siteKey="6LePG9EUAAAAAI1etO6bfExjQdPcORcRiX98x0At"></re-captcha>
  </div>

  <div class="card-action">
    <button 
      type="submit"
      [disabled]="form.invalid || form.disabled || !captchaSolved"
      class="modal-action btn light-blue darken-4 waves-effect"
    >Знайти дані</button>
  </div>
</form>

<div
  class="hide"
  #results
>

  <div
    *ngIf="orders$ | async as orders; else loader"
  >
  <div class="collection blue-grey lighten-5" *ngIf="orders.length !== 0; else empty">
    <ul>
      <li class="collection-header center-align"><h5>Перелік записів в черзі</h5></li>

      <li
        *ngFor="let order of orders"  
      >
        <a 
          class="collection-item blue-grey-text text-darken-4"
          [routerLink]="['/order', order._id]"
        >
          <span class="f_col">{{order.date | date: "dd.MM.yyyy"}} | </span>  
          <span class="f_col">{{order.time_period_number | timePeriod}} | </span>  
          <span class="t_col">{{order.customer_id_code}} | </span>
          <span class="t_col">{{order.customer_name}}</span>
        </a>
      </li>
    </ul>
  </div>
  </div>
</div>






<ng-template #loader>
  <app-loader></app-loader>
</ng-template>



<ng-template #empty>
  <div class="center">
    <p>Дані відсутні</p>
  </div>
</ng-template>