<div class="page-title">
  <h4>Області</h4>
  <button
    class="waves-effect waves-light light-blue darken-4 btn z-depth-3"
    routerLink="/regions/new"
  >
  Додати область
  </button>
</div>

<div 
  class="row"
  *ngIf="regions$ | async as regions; else loader"
  >
  <div class="col s12">
    <div class="collection" *ngIf="regions.length !== 0; else empty">
      <a 
        class="collection-item blue-text text-darken-2"
        *ngFor="let region of regions"  
        [routerLink]="['/regions', region._id]"
      >
        {{region.name}}
        <span
          *ngIf="!region.active"
          class="disabled"
        >disabled</span>
      </a>
    </div>
  </div>
</div>

<!-- (click)="onSelectRegion(region, $event)" -->



<ng-template #loader>
  <app-loader></app-loader>
</ng-template>


<ng-template #empty>
  <div class="center">
    <p>Дані відсутні</p>
  </div>
</ng-template>

<!-- <div class="modal" #modal>
  <app-regions-form [outputRegion]="outputRegion"></app-regions-form>
</div> -->


